.App {
  height: 100vw;
  padding: 20px;
  text-align: center;
  color: #171212;
}

.video-react {
  padding-top: 10px !important;
}

.pageSelector {
  width: 100%;
}

.title {
  color: #242121;
  border: 1px solid #171212;
  padding: 3px;
}

.item-sep {
  color: black;
  border: 1px solid black;
}

.item-container {
  width: 100%;
}

img {
  max-width: 400;
  max-height: 650px;
  margin-right: 10px;
}

video {
  max-width: 400px;
  max-height: 650px;
  margin-right: 10px;
}

.button {
  background: transparent;
  border: 1px solid #171212;
  padding: 3px;
  cursor: pointer;
  margin-top: 5px;

  transition: all 0.1s ease-in;
}

.input {
  border: none;
  border-bottom: 1px solid #171212;
  background-color: transparent;
  font-size: 18px;
  margin-right: 10px;
}

.button:hover {
  background: #2c2929;
  border: 1px solid #171212;
  color: #ffffff;
}